.activityfeed {
	clear:both;
}

.activityfeed li {
	margin-left: -9px;
	list-style: none none;
}

.activityfeed a {
    color: #16509E;
    text-decoration: none;
}

.activityfeedAll, .activityfeedGeneric, .activityfeedMyFeeds{
/* 	width:700px; */
	background-color:#ffffff;
}

.activityfeedSpecific, .activityfeedGroupSpecific{
	clear:both;
	background-color: rgba(106, 201, 162, 0.15);
}

.activityfeedSpecific .activityFeed-container, .activityfeedGroupSpecific .activityFeed-container {
	background-color: #e5e5e5;
}

.activityFeedContext {
	clear:both;
	margin-top:5px;
}

.activityfeedGroupSpecific .activityFeedContext {
	background-color:#ffffff;
}
.feedParentContext {
	background-color:#ffffff;
}

.activityFeed-container{
    border-bottom: 1px solid #DDDDDD;
    margin: 0 0 2px;
    min-height: 20px;
    padding: 7px;
}



.activityfeed .feedActivityHolderContext{
	background-color: #EBEBEB;
	clear:both;
}

.activityfeed .timeago{
    color: #666666;
    display: inline;
    line-height: 16px;
    margin-bottom: 0;
}

.activityfeed .activiyfeednewermsg{
	background-color: #99FF00;
}

