.comment li {
	margin-left: -9px;
	list-style: none none;
}
.comment a {
    color: #16509E;
    text-decoration: none;
}

.comment-textbox {
	width: 98%;
    height: 100%;
    resize: vertical;
 }
 
.yj-thread-replies-container{
	background-color: #EBEBEB;
    border-bottom: 1px solid #DDDDDD;
    margin: 0 0 2px;
    min-height: 20px;
    padding: 7px;
}

.yj-show-older-replies {
    display: block;
    font-size: 13px;
}

.yj-message-container {
    font-size: 12px;
    line-height: 125%;
    padding-left: 42px;
    padding-right: 5px;
    position: relative;
}

.yj-message-body {
    padding-right: 0;
    margin-bottom: 6px;
    word-wrap: break-word;
}

.yj-message-body pre{
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
    line-height:15px;
    font-family: 'helvetica';
    font-size: 12px;
}

.yj-avatar {
    height: 33px;
    width: 32px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
}

.yj-attributes {
    color: #666666;
    display: inline;
    line-height: 16px;
    margin-bottom: 0;
}
.yj-context {
    color: #008000;
}

.comment-textEmpty {
	border-color: #B94A48;
	border-width: 1px;
}
.post-comment {
	overflow: visible;
    position: relative;
    margin-bottom : 40px;
}

.comment-post-btn {
	position: absolute;
    right: 8px;
    margin-top : 5px;
}