@CHARSET "UTF-8";

.ufile-block {
	max-width: 450px;	
	border: solid 1px;
	padding: 5px;
	margin: 15px;
}
}

.add-file .field {
	max-width: 220px;
}

.desc-field {
}

div.field{
	display: inline-block;
}

.file-tags {
	
}

ul.tagit {
	max-width: 450px;
}

.upload-form {
margin-left: 45px;
position: absolute;
left: -9999em;
}

.qq-upload-success {
	display:none;
}
