@CHARSET "UTF-8";

.ufile-block {
	border: solid 1px;
	padding: 5px;
	margin: 15px;
}
}


.desc-field {
}

div.field{
	display: inline-block;
}

.file-tags {
	
}


.upload-form {
position: absolute;
left: -9999em;
}

ul.file-tags {
	margin-left: 0px;
}

.qq-upload-success {
	display:none;
}
