.address {
    width: 100%;
/*    margin: auto;
    position:absolute;
    top:10px;
*/    left:0;
    right:0;
    z-index:1;
}    

.latlng {
    margin: auto;
    width: 500px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
	background-color: rgba(255, 255, 255, 0.85);
	background: transparent\9;/*IE9*/
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff)"; /*IE8*/
	filter: progid : DXImageTransform.Microsoft.gradient (startColorstr ='#ffffff', endColorstr = '#ffffff' ); /*IE6 & IE7*/
	zoom: 1;
	box-shadow: 0 4px 3px -3px #5e5e5e;
	border-radius: 5px;
}

.map_canvas {
    height:500px;
    clear:both; 
    border: 2px solid #ffffff;      
}

#location_picker {
clear:both;    
width: auto;      
background: #f5f5f1;       
box-radius: 7px;
position: relative;
padding: 10px;
width: 260px;         
}

#selection_box {
border: 1px solid #e5e5e5;
padding:10px;      
margin:10px;        
background: #fcfcfc;       
float:left;
min-height: 300px;
}

.row {
/* clear: both; */
padding-top:3px;
padding-bottom:3px;
}

.location_picker_value {
float: left;
text-align: left;
/*height: 20px;*/
overflow: hidden;
width: 265px;          
}

#side_bar {
float:left;
padding:5px;      
}

.map_area {
/*padding:10px;*/
text-align:left;
}

.location_picker_button {
margin-bottom: 2px;    
border: 1px solid #e5e5e5;
padding: 2px;        
cursor: pointer;
font-weight: bold;        
color: #424242;            
background: #f5f5f0;    
height:40px;
text-align: center;       
}

.location_picker_button:hover {
background: #c8e6ed;    
}


/* .thumbnail { */
/* float:left; */
/* width: 80px; */
/* height: 80px;        */
/* } */

#result_box {
clear: both;
border: 0px solid #e5e5e5;       
padding: 10px;
margin: 10px;         
}

#selected_place_name {
width: 500px;
}

.button_no_icon {
padding: 10px;
}

.active_location_picker_button {
background-color: #fe847b;    
}

#geotagged_images .title {
font-weight: bold;	
}

#geotagged_images .msg {
font-size: 0.9em;
font-style: italic;
padding: 0;
}

#current_location.location_picker_button {
width: 150px;	
}

.leaflet-draw-toolbar a {
    width: 26px;
    height: 26px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.leaflet-bar   a {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #aaa;
}
.leaflet-bar   a:hover {
    background-color: rgba(255, 255, 255);
}
.leaflet-control-layers-base {
    text-align:left;
}
