/*.row-fluid > [class*="span"]{  
    margin-left:0;
}*/

.form-inline [class*="span"] {
    margin-top:5px;
    margin-bottom:5px;
}

a.not_in_use {
    cursor:not-allowed;
}

.metadataDetails {
    margin:10px 0px;
}

input[type=text], select {
    min-height : 24px !important;
    height : 24px;
    margin-bottom:5px;
}

.languageDropDown {
    height:20px;
    padding:0px;
}
.add_new_row {
    float: right;
    margin-right: 26px;
}
.nav-tabs>li>a {
    padding:5px 10px !important;
    line-height:10px !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555 !important;
    cursor: default !important;
    background-color: #ffffff !important;
    border: 2px solid #3D6798 !important;
    border-bottom-color: transparent !important;
}
.tab-content{
/*    overflow-y: scroll;*/
    height: 197px;
    overflow-x: hidden !important;
}   
.listarea{
 /*   width:25% !important;*/
    border:1px solid #ccc;
    height:288px;
 /*   margin:0px !important;*/
    overflow: auto;
    background-color:white;
}

.metadataDetails .listarea { 
    height : 375px;
    overflow:visible;
}

.taxon_selector_wrapper{
    //width:285px!important;
    overflow:hidden;
}
#taxaHierarchy #taxonHierarchy {
    overflow: auto;
    height: 200px;
}

.row-fluid .taxon_selector_wrapper_span{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-style: outset;
    border-width: thin;
    background-color: #DEB887;
    min-height:24px;
}

.row-fluid .taxon_selector_wrapper_span.dirty_list{
    background-color:lightgrey; //#C0504D;
}
.row-fluid .taxon_selector_wrapper_span.working_list{
    background-color:khaki; //#FF9900;
}
.row-fluid .taxon_selector_wrapper_span.clean_list{
    background-color:mediumaquamarine; //#009933;
}
.row-fluid .taxon_selector_wrapper_span.taxon_selector_span{
    background-color:beige; //#3399FF;			
}

.listarea_content{
    position: relative;
    overflow-y: scroll;        
    height: 230px;
    //width: 470px;
    margin: 0px;
}
.listarea_content ul {
    list-style-type:none;
    cursor:pointer;
}
.taxonomyBrowser{    
    //width: 392px;    
}
.taxon_selector_list{

}
.taxon_selector_final{

}
.namelist_wrapper {
/*    background : white;*/
/*    width:100% !important;*/
}
.outer-wrapper {
    padding-left:26px !important;
}
.detailsarea{
    //height: 250px;
    border: 1px solid#ccc;
}
.detailsareaLeft{
    border: 1px solid #ccc;
}
.detailsareaRight{
 /*   margin: 0px !important;*/
    border: 1px solid #ccc;
    /*width: 17% !important;*/
    text-align:center;
    /*height: 328px;*/
}
.connection_wrapper{
    background-color:#00FFCC;
}
.connection_wrapper_row1{
    color:white;
    height:23px;
    background-color:darkcyan;
}
.connection_wrapper_row2{		
    background-color: beige;
    text-align: center;
    padding: 2.4px;
    height:19px;
}
.taxonomyRanks {
    border: 1px solid #ccc;
}
.nameInputs {
    width: 164px;
}
.column {
    padding: 1px 0px;
    margin:0px !important;
    border: 1px solid #c6c6c6;
    border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.tab-content td, .tab-content th {
    text-align:center;
    border: 1px solid #ccc;
}
.tab_heading{
    font-size:13px;
}

#searching {
    display: none;
    position: absolute;
}
.save_button, .remove_button{ 
    text-align:left;
}
.tab-content>.span*{
    margin-left:2px;
}
.super_family, .sub_family, .sub_genus, .infra_species{
    line-height:10px;
}
/*.lt_family{
    font-size:12px;
    font-weight:bold;
    padding: 18px 0px;
}
.lt_family input{
    margin-bottom:3px;
}*/

.canBeDisabled .rankStrings, .listarea label {
    padding-left:4px;
    color:white;
    font-weight:bold;
}
.canBeDisabled .rankValues {
    padding-right:4px;
}


