.species_groups_sprites, .species_groups_sprites.active { background-image: url(../images/group_icons/speciesGroups/all_small_sprite.png); background-color: transparent; background-repeat: no-repeat; }

.species_groups_sprites.all_gall_th { width: 32px; height: 32px; background-position: 0 -865px; }
.species_groups_sprites.all_gall_th:hover { background-position: 0 -897px; }
.species_groups_sprites.all_gall_th.active, .species_groups_sprites.all_gall_th:active { background-position: 0 -929px; }

.species_groups_sprites.others_gall_th { width: 32px; height: 32px; background-position: 0 -770px; }
.species_groups_sprites.others_gall_th:hover { background-position: 0 -802px; }
.species_groups_sprites.others_gall_th.active, .species_groups_sprites.others_gall_th:active  { background-position: 0 -834px; }

.amphibians_gall_th { width: 32px; height: 32px; background-position: 0 0; }
.amphibians_gall_th:hover { background-position: 0 -32px; }
.amphibians_gall_th.active, .amphibians_gall_th:active { background-position: 0 -64px; }

.arthropods_gall_th { width: 32px; height: 32px; background-position: 0 -290px; }
.arthropods_gall_th:hover { background-position: 0 -322px; }
.arthropods_gall_th.active, .arthropods_gall_th:active { background-position: 0 -354px; }

.birds_gall_th { width: 32px; height: 32px; background-position: 0 -97px; }
.birds_gall_th:hover { background-position: 0 -129px; }
.birds_gall_th.active, .birds_gall_th:active { background-position: 0 -161px; }

.fish_gall_th { width: 32px; height: 32px; background-position: 0 -961px; }
.fish_gall_th:hover { background-position: 0 -993px; }
.fish_gall_th.active, .fish_gall_th:active  { background-position: 0 -1025px; }

.fungi_gall_th { width: 32px; height: 32px; background-position: 0 -482px; }
.fungi_gall_th:hover { background-position: 0 -514px; }
.fungi_gall_th.active, .fungi_gall_th:active  { background-position: 0 -546px; }

.mammals_gall_th { width: 32px; height: 32px; background-position: 0 -193px; }
.mammals_gall_th:hover { background-position: 0 -225px; }
.mammals_gall_th.active, .mammals_gall_th:active { background-position: 0 -257px; }

.molluscs_gall_th { width: 32px; height: 32px; background-position: 0 -578px; }
.molluscs_gall_th:hover { background-position: 0 -610px; }
.molluscs_gall_th.active, .molluscs_gall_th:active{ background-position: 0 -642px; }

.plants_gall_th { width: 32px; height: 32px; background-position: 0 -386px; }
.plants_gall_th:hover { background-position: 0 -418px; }
.plants_gall_th.active, .plants_gall_th:active { background-position: 0 -450px; }

.reptiles_gall_th { width: 32px; height: 32px; background-position: 0 -674px; }
.reptiles_gall_th:hover { background-position: 0 -706px; }
.reptiles_gall_th.active, .reptiles_gall_th:active  { background-position: 0 -738px; }