
body {
    background-color: #ffffff;
    background-image: url('../images/header.png');
    background-repeat: no-repeat;
    background-position: 0 80px;
}

.page-footer {
height: 221px;
width: 725px;
background-image: url('../images/footer.png');       
position: fixed;
bottom: 0;
right: 0;        
z-index:-1000;       
}

.filters {
/* border: 1px solid #ffffff; */
/* overflow: auto; */
padding: 10px;          
/* background-color: #ffffff;          */
background-color: rgba(106, 201, 162, 0.2);
box-shadow: 0 4px 3px -3px #5e5e5e;
}

.filterBar .ui-button, .group_icon {
background: none;
border: 0;
/* opacity: 0.4; */
display:inline-block; 
}

.filterBar .ui-button:hover {
/* opacity: 0.9; */
	
}

.filterBar .ui-button-text {
padding: 3px;
}

.filterBar .ui-state-active {
opacity: 1;
border-bottom: 2px solid #5b5b9d;
border-radius: 0;
}

.filterBar {
border-radius: 5px 5px 5px 5px;
/* float: left; */
}

.filterBar label {
display: inline-block;    
font-size: 0.9em;         
}

.list_view .snippet {
padding: 5px;
width: 605px;         
}

.snippet.tablet {
width: 213px;
height: 250px;
overflow: hidden;        
position: relative;          
}

.snippet.tablet .span2{
margin: 0;
}

.snippet.tablet .observation_info_wrapper {
position: absolute;
bottom: 0;          
}

.snippet .figure {
margin-bottom: 5px;        
max-width: 200px
margin-left: auto;
margin-right: auto;
}

.grid_view li.thumbnail {
background-color: #ffffff;
border: 1px solid #bee6d3;
}

.grid_view li.thumbnail:hover {
background-color: #fefad5;
}

.button-bar {
margin-top: 10px;    
margin-bottom: 10px;
}

.tags_section {
margin-top:20px;
}

.tags_section .tag-tools {
padding-bottom: 10px;    
}

.prop {
 	clear: both; 
}

.prop.tablet {
	font-size: 0.8em;
}

.prop {
        margin-bottom: 5px;
        margin-top: 5px;
}

.prop .name {
	float: left;
	text-align: left;
	color: ##5E5E5E;
        font-size: 0.9em;       
}

.prop .name.tablet {
	width: auto;
	padding-right: 3px;
}

.observation_story .prop .name {
	width:110px;
}

.observation_story .prop .value {
margin-left: 100px;    
}

.observation-icons {
	float:right;
	margin-right:10px;
}
	
#advSearchForm .prop .name {
	float: right;
	text-align: right;
}

.prop .value {
/* 	text-align: left; */
}

.list_view li.thumbnail {
margin-bottom: 0;
border-radius: 0;
border-bottom: 0;
padding-left: 30px;
background-color: #ffffff;    
border: 1px solid #bee6d3;
}

.list_view li.thumbnail:hover {
background-color: #fefad5;
}    

.list_view li.thumbnail .observation_story {
background-color: transparent;    
}

.loadMore {
    width: 440px;
    margin-left:100px;       
    margin-top:50px;
}

.loadMore img{
	padding: 10px;
}

.outer-wrapper {
clear: both;
background-color: rgba(106, 201, 162, 0.15);
padding-left: 10px;
padding-right: 10px;
}

div.errors {
	border: 1px solid red;
	color: #cc0000;
	word-wrap: break-word;
}

.bold_dropdown img{
width: 30px;
height: 30px;       
float: left;        
}

.bold_dropdown {
	position: absolute;
	width: 550px
}

.bold_dropdown .selected_value {
	width: 300px;
	padding: 5px;
	cursor: default;
	font-size: 1em;
	font-weight: bold;
}

.bold_dropdown div.errors {
	border: 1px solid red;
	color: #cc0000;
	word-wrap: break-word;
}

.bold_dropdown .caret {
    margin-top: 10px;
    margin-left: 10px;
}

.bold_dropdown .display_value {
padding: 7px;
float: left;
font-weight:normal;       
}
.bold_section {
margin:0;
}
.bold_section label {
}

.bold_section input {
width: 300px;    
height: 32px;       
font-size: 1.1em;        
}

.bold_section .row {
height: 60px;
}

.section {
margin:20px;    
}

.section label {
    float: right;
    font-weight: bold;
    padding-right: 15px;
    text-align: right;
}

.super-section {
	background-color: rgba(106, 201, 162, 0.2);
	border-radius: 5px;
	margin-bottom: 10px;
        box-shadow: 0 8px 6px -6px #5e5e5e;
}

.resources .addedResource {
	width: 200px;
	display: inline-block;
	margin: 2px;
	position: relative;
	padding: 2px;
	background-color: #ffffff;
	height: 200px;
}

.figure {
	font-size: 80%;
	text-align: center;
	font-style: italic;
	position: relative !important;
}
.addedResource .metadata {
	font-size: 0.9em;
}

.addedResource .metadata label {
	width: 50px;
	text-align: right;
	padding: 0;
	margin: 2px;
	padding-right: 5px;
}

#add_file {
	background-image: url('../images/add-photo.png');
	background-repeat: no-repeat;
	background-position: 2px 2px;
	width: 200px;
	cursor: pointer;
}
.progress {
	border-radius: 3px 3px 3px 3px;
	position: relative;
	height: 200px;
        background-image: none;        
        background-color: transparent;
        box-shadow: none;
}

#translucent_box {
	background-color: black;
	opacity: 0.5;
	width: 0%;
	height: 200px;
	top: 0px;
	position: absolute;
}

#progress_bar {
	background-color: lime;
	width: 0%;
	height: 10px;
	bottom: 0px;
	position: absolute;
}

#progress_msg {
	position: absolute;
	display: inline-block;
	bottom: 15px;
	left: 30px;
	color: #ffffff;
	font-size: 1.5em;
	font-weight: bold;
}

.license_options {
    background-color: #FFFFFF;
    border-width: 0 1px 1px;
    box-shadow: 0 8px 6px -6px black;
    display: none;
    position: absolute;
    z-index: 7;
}

.license_options li{
border-top: 1px solid #e3e3e3;
padding: 3px;
}

.license_options li:hover{
background-color: #9acc57;    
}

.license_options span {
padding: 10px;
}

textarea#notes {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

.section .section-item {
	padding: 10px;
}

.recommendations {
    background-color: #9acc57;
/*     border-radius: 7px 7px 7px 7px; */
    margin-top: 10px;
    padding: 10px;
}

.comments {
border-top: 1px solid #eeeeee;
background-color: #f5f5f5;
}

ul#recoSummary {
list-style-type: none;
}

.btn-primary a, a.btn-primary, a.btn-danger, a.btn-warning, a.btn-success  {
color: #ffffff;
}

/* a.btn { */
/* color: #000000; */
/* } */

.btn a {
text-decoration: none;
}

.btn-danger a {

}
li.reco_block {
margin: 0;
}

#addRecommendation {
margin-top: 10px;
}

#tc_tagcloud {
    font-weight: bold;
    line-height: 200%;
    text-align: justify;
    padding-right:10px;
}

.observation_story {
padding: 10px;
position:relative;
}

.observation_story.tablet {
height: 100px;    
}

.observation .observation_story {
background-color: #fefad5;    
}

#addObservation #imagesList {
	background-color: #fefad5;
	borderdisplay_value-bottom: 1px solid #9E9E9E;
	border-top: 1px solid #9E9E9E;
	box-shadow: 0 2px 11px -3px inset;
	padding: 10px;
	min-height: 212px;
}

.close_button {
	background: url(../images/close.png) no-repeat center left;
	width: 24px;
	height: 24px;
	position: absolute;
	right: -3px;
	top: -3px;
	opacity: 0.7;
}

.close_button:hover {
	opacity: 1;
}

#observations_list_map .observation_location {
padding: 0;
}

.observation_location {
background-color: #f7f7f7;         
padding: 10px;
}

.observation_location .name{
width: auto;
margin-right: 5px;       
}

.sidebar_section {
        border-bottom: 1px solid #CCCCCC;
        border-top: 1px solid #EEEEEE;
        overflow: hidden;
        padding-bottom: 10px;
}

.sidebar_section .title {
	font-weight: bold;
	padding: 5px;
}

.sidebar_super_section {
    margin-top: 30px;
}

.tile {
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #CCCCCC;
    color: #333333;
    display: block;
    margin-bottom: 12px;
    overflow: hidden;
}

.map_section {
background-color: #a6dfc8;
border-radius:5px;
}

.map_search {
position:relative;    
left:20px;
padding:20px 10px;
margin-bottom:10px;
background-color: #a6dfc8;
border-radius:5px 0 0 5px;
}

#big_map_canvas {
border: 1px solid #ffffff;
}

.map_wrapper {
padding: 10px;
background-color: #9acc57;         
border-radius: 5px;
border-top-left-radius: 0;
margin-bottom: 40px;
}

#map_view_bttn {
float: left;    
/* padding: 10px 10px 0 10px; */
border-top-left-radius: 5px;
border-top-right-radius: 5px;
z-index: 10;
}

.all_content {
clear: both;
padding:0;
margin:0;
}

.snippet.tablet .figure img {
height: 120px;
}

.dropdown-menu a {
/* 	width: 100%; */
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    color: #000000; 
    background-color: #6ac9a2;
}


/* .btn-group.open .dropdown-menu { */
/* border-radius: 0; */
/* top: 20px; */
/* } */

.observation_story.tablet .observation-icons, .observation_info .observation-icons{
float: left;
}

.observation_story.tablet .user-icon, .observation_info .user-icon{
float: right;
}

.observation_story.tablet .icons-bar {
bottom: 0;
}

.observation_info_wrapper {
height: 100%;
width: 100%;        
font-size: 1em;       
line-height: 1.5;
}

.tablet.highlighted {
font-weight: bold;
}

.view-button {
float: right;
margin-right: 10px;       
}

.stats-box {
position: absolute;
bottom: 0;          
font-size: 0.8em;        
color: #5e5e5e;
}

.stats-box i {
margin-right: 3px;
}

.stats-box span {
margin-right: 5px;
}

.stats-box {
opacity: 0.5;
}

.story-footer {
position: absolute;
bottom: 5px;          
font-size: 0.8em;        
color: #b1b1b1;
/* opacity:0.5;        */
}

.story-footer .footer-item {
float: left;    
margin-right: 10px;       
}

.story-footer i {
margin-right: 3px;       
}

.bold_dropdown {
font-size: 1.1em;
}

.bold_dropdown .dropdown-menu {
width: 520px;
}

.bold_dropdown .dropdown-menu li {
border: 2px solid #ffffff;
cursor: default;
width: 190px;        
}

.bold_dropdown .dropdown-menu li:hover {
border: 2px solid #9acc57;
}

.bold_dropdown .caret {
float: right;
}

.habitat_option {
	display: inline-block;
	padding: 5px;
	width: 160px;
}

#ui-datepicker-div {
	width: auto;
	z-index: 4 !important;
}

.normal_profile_pic {
	height:100px;
	width:auto;
	max-width:100px;
	margin:5px;
}

.small_profile_pic {
	height:32px;
	max-width:32px;
	width:auto;
	margin:5px;
}

.very_small_profile_pic {
	height:25px;
	max-width:25px;
	width:auto;
	margin:2px;
}

.observations {
padding: 10px;
box-shadow: 8px 0 6px -6px #5e5e5e;
}
.observations_list {
position:relative;
top: -40px;         
padding-right: 10px;     
/* box-shadow: 8px 0 6px -6px #5e5e5e; */
/* background-color: rgba(106, 201, 162, 0.1); */
}

.tags-tools {
    padding-bottom: 10px;
}

.licence_div img {
height: 15px;
}

.observation_links {
margin-top: 5px;
float: right;
}

.comments-box {
background-color: #dcdcdc;
margin-top: 10px;
}

.right-shadow-box {
box-shadow: 8px 0 6px -6px #5e5e5e;
}

i {
margin-right: 3px;
}

.species_group_icon {
	float:right;
}

/*SEARCH PAGE START*/
.icon {
	padding: 1px;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #999999;
}

.toolbarIconContent {
	border: 1px solid #AEAEAE;
	background-color: #FAFAFA;
	padding: 10px;
	position: absolute;
	min-width: 300px;
	max-width: 600px;
	box-shadow: 0 1px 3px #c6c6c6;
	font-size: 0.8em;
	font-style: normal;
	z-index: 100;
	right: 0
}

.toolbar_link:hover {
	background-position: 0 0;
}

.toolbar a.close {
	background: url(../images/skin/close.png) no-repeat;
	cursor: pointer;
	float: right;
}

.toolbar a.close:hover {
	text-decoration: underline;
}

.taxaHierarchy {
	background: url(../images/tree.png) 5px 25% no-repeat;
	margin-left: 0;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 20px;
}

.searchSnippet {
	position: relative;
}

.searchSnippet .toolbarIconContent {
	left: 0;
}

/*SEARCH PAGE END*/

.error .help-inline ul{
	list-style: none;
}

.control-group.error button, .control-group.error .selected_value,  .control-group.error #imagesList, .control-group.error input{
	border:1px solid #B94A48 !important;
} 

/* MESSAGES AND ERRORS */
.message {
	background: #f3f8fc url(../images/skin/information.png) 8px 50%
		no-repeat;
	border: 1px solid #b2d1ff;
	color: #006dba;
	padding: 5px 5px 5px 30px
}

.errors {
	background: #fff3f3;
	border: 1px solid red;
	color: #cc0000;
	margin: 10px 0 5px 0;
	padding: 5px 0 5px 0;
	word-wrap: break-word;
}

.errors ul {
	list-style: none;
	padding: 0;
}

.errors li {
	background: url(../images/skin/exclamation.png) no-repeat 8px 0%;
	line-height: 16px;
	padding-left: 30px;
}

td.errors select {
	border: 1px solid red;
}

td.errors input {
	border: 1px solid red;
}

td.errors textarea {
	border: 1px solid red;
}

.user_signature {
	padding-left: 5px;
	padding-top: 2px;
	text-align: left;
	width: 175px;
	height: 50px;
}

.sort_filter_label {
	padding : 0px 2px 0px 5px;
/* 	width : 95%; */
	text-align:left;
}

input, button, select, textarea {
	font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

.highlight {
	font-weight:bold;
}

.info-message {
	padding-top:10px;
	padding-bottom:10px;
}

.tagsView {
	padding:0px;
	margin-left:0px;
}

.group_option {
	margin-left:0px;
}
.navigation li.navigation_active a:hover { 
    background-color:#e5e5e5;
} 

.navigation li a {
    background-color: rgba(173, 219, 192, 0.7);
}    

.navigation li.navigation_active a {
    background-color: rgba(62, 187, 142, 0.7);
    color: #000000;
}

.msg {
	font-style:italic;
}
