/*

COLORING

For ease of colortheming, the color selectors are grouped together with descriptive comments.
Just change the color-values to apply your own color-scheme.

*/

/* Main navigation */
.navigation li a { background-color: #aaa }                         /* Background-color */
.navigation li.navigation_active a { background-color: #555; }      /* Background-color of active item */
.navigation li.navigation_active a:hover { background-color: #555;} /* Background-color of hovered active item */
.navigation li a:hover { background-color: #999; }                  /* Background-color of hovered item */
.navigation li a { color: #fff; }                                   /* Text color */
.navigation li a:hover { color: #fff; }                             /* Text color on hovering */
.navigation li { border: 0px solid #888; }                          /* Border color */
.navigation li.navigation_first { border-left-color: #888; }        /* Border color. Typically same as above */
.navigation li { border-left-color: #bbb; }                         /* Highlight border-color */
.navigation li.navigation_active { border-left-color: #555; }       /* Highlight border-color of active item */

/* Sub navigation */
.subnavigation li { background-color: #555; }                       /* Background-color */
.subnavigation li a { border-color: #555; }                         /* Should be set to the same as the above */
.subnavigation li a { color: #fff; }                                /* Text color */
.subnavigation li a:hover { border-color: #fff; }                   /* Markings color of hovered item */
.subnavigation li a:hover { color: #e0e0e0; }                       /* Text color of hovered item */
.subnavigation li.subnavigation_active a { color: #e0e0e0; }        /* Text color of active item */
.subnavigation li.subnavigation_active a { border-color: #e0e0e0; } /* Markings color of active item */

.navigation {
    list-style-type: none;
    clear: both;
    margin: 5px 0;
    font-size: 13px;
    /*overflow: hidden;*/ /* Clearing floats */
}

.navigation li {
    float: left;
    margin-left:5px;
    /* border: 1px solid #888; */
    /* border-left-color: #bbb; */
}
.navigation li.navigation_first {
    /* border-left-color: #888; */
}
.navigation li.navigation_active {
    /* border-left-color: #555; */
}
.navigation li a {
    padding: 0.5em 1em;
    display: block;
    text-decoration: none;
    /* background-color: #aaa; */
    /* color: #fff; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #444444;
    background-color: rgba(0, 0, 0, 0.1);
    background: transparent\9;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);   /* IE6 & 7 */
      zoom: 1;
    border-radius: 5px;
/*     text-shadow: 1px 1px 1px #aaaaaa; */
    font-weight: bold;
}
.navigation li a:hover {
    background-color: rgba(128, 128, 128, 0.1);
    background: transparent\9;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#19808080,endColorstr=#19808080)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19808080,endColorstr=#19808080);   /* IE6 & 7 */
          zoom: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #111111;
    /* background-color: #999; */
}
.navigation li.navigation_active a {
    /* background-color: #555; */
    color: #fff;
    cursor: default;
}

.subnavigation {
    list-style-type: none;
    clear: both;
    margin-left: 10px;
    font-size: 12px;
    overflow: auto; /* Clearing floats */
    border-width: 1px;
    position:absolute;
    z-index:10000;
    display:none;
}
.subnavigation li {
    /*float: left;*/
    float: none;
    /*background-color: #555;*/
    padding: 0.35em 1.5em;
    border-width: 1px 0;
    margin-left:2px;
}
.subnavigation li a {
    display: block;
    /* color: #fff; */
    padding: 2px 0;
    /* border-color: #555; */
    background-color: #555;
    border-style: solid;
    border-width: 1px 0;
    text-decoration: none;
}
.subnavigation li a:hover {
    /* border-color: #fff; */
    border-width: 1px 0;
}
.subnavigation li.subnavigation_active a {
    /* color: #e0e0e0; */
    cursor: default;
    /* border-color: #e0e0e0; */
}


/* MEGA MENU STYLE
********************************/ 



.siteNav .mega-menu {
  padding: 10px ! important;
  width: auto;
  border-radius: 0;
  margin-top: 0px;
  position: absolute;
}

.contributeButton{
	margin:0 0 0 45px;  
}

.siteNav .mega-menu li {
  display: inline-block;
  float: left;
  font-size: 14px;  
  width: 150px;
  text-align: left;
}

.siteNav .mega-menu li.mega-menu-column {
  margin-right: 20px;
  width: 150px;
}

.siteNav .mega-menu .usergrouplist{
	width:250px;
	float:initial;
  margin:0px;
}

.siteNav .mega-menu .nav-header {
  padding: 0 !important;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  text-transform:inherit;
  font-weight: bold;
  color:#212121;
  font-size: 14px;
}

.siteNav .mega-menu .nav-header:hover,.siteNav .mega-menu .mega-menu-column li a:hover {
  	color: rgb(0, 75, 145);
}
.nav-header{

}
.siteNav .mega-menu img { padding-bottom: 10px; }

/* Disable Toggle style
********************************/  

/* Dropdown Toggle on style */



.siteNav .nav li.dropdown.open > .dropdown-toggle,
.siteNav .nav li.dropdown.active > .dropdown-toggle,
.siteNav .nav li.dropdown.open.active > .dropdown-toggle {
  background: inherit; /* Set to inherit when using mouse hover to open dropdown */
  color: inherit;
}

/* Toggle off style */



.siteNav .nav li.dropdown.open.active > .dropdown-toggle,
 .siteNav .nav > li.dropdown > a:focus {
  background: inherit;
  color: inherit;
}

/* Toggle hover */



.siteNav .nav li.dropdown > .dropdown-toggle:hover,
 .siteNav .nav li.dropdown.open > .dropdown-toggle:hover { background-color: #DDDDDD; }

/* Toggle caret*/



.siteNav .nav li.dropdown > .dropdown-toggle .caret { border-bottom-color:;
 border-top-color:;
}

/* Toggle caret hover */



.siteNav .nav li.dropdown > a:hover .caret,
 .siteNav .nav li.dropdown > a:focus .caret {
  border-bottom-color: #333;
  border-top-color: #333;
}

/* Toggle caret active */



.siteNav .nav li.dropdown.open > .dropdown-toggle .caret,
 .siteNav .nav li.dropdown.active > .dropdown-toggle .caret,
 .siteNav .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #333;
  border-top-color: #333;
}

/* Hover style
********************************/ 



.siteNav .nav > li > a,
.mega-menu a {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
  -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
  -webkit-transform: translateZ(0);
}

.groupMenu {
	width:760px !important;	
}

.groupMenu .signature{
	width:250px !important;
}

.groupMenu .ellipsis{
	width:165px !important;
}

.dropdown .contributeUlLi{
	margin:2px 0px;
}


